.contact-list-item {
    display: flex;
    align-items: center;
    border: 1px solid rgb(223, 220, 220);
    padding: 0px 30px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.contact-list-logo {
    width: 60px;
    height: 60px;
    background-color: rgb(113, 205, 221);
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}
.contact-list-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(238, 188, 188);
    color: red;
    font-size: 20px;
    cursor: pointer;
}